{% extends "layout.html" %}
{% from "macros/_channel.html" import channel_form %}

{% block page_title %}添加频道{% endblock %}
{% block page_js %}
    <script src="/static/js/channel/add.js"></script>{% endblock %}
{% block page_css %}
    <link rel="stylesheet" href="/static/css/channel/add.css"/>{% endblock %}
{% block page_content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <h3 class="no-margin-top">添加频道</h3>

                {{ channel_form(form) }}
            </div>
        </div>
    </div>
{% endblock %}
