{% extends "layout.html" %}
{% from "macros/_channel.html" import follow_channel_wap %}

{% block page_title %}{{ channel.name }}{% endblock %}
{% block page_js %}
    <script src="/static/js/channel/view.js"></script>{% endblock %}
{% block page_css %}
    <link rel="stylesheet" href="/static/css/channel/view.css"/>{% endblock %}
{% block page_content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <div class="header media">
                    {#                    <div class="media-left">#}
                    {#                        <img src="{{ channel.cover_url }}" alt="" class="cover">#}
                    {#                    </div>#}

                    <div class="media-body">
                        <div class="channel-name">{{ channel.name }}</div>

                        <div class="creator">
                            by
                            <img src="{{ channel.user.avatar_url }}" alt="" class="img-circle">
                            <a class="name" href="{{ url_for('user.profile', uid=channel.user_id) }}">
                                {{ channel.user.name }}</a>
                        </div>

                        <div class="btn-group btn-group-xs btn-group-switch-content">
                            <div class="btn btn-default btn-switch-to-simple">
                                <span class="fa fa-minus"></span>
                            </div>
                            <div class="btn btn-default active btn-switch-to-details">
                                <span class="fa fa-navicon"></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="pieces">
                    {% for piece in pieces %}
                        <div class="piece piece-{{ piece.kind|lower }}">
                            {% if piece.kind == 'TEXT' %}
                                {% if piece.title %}
                                    <div class="title">{{ piece.title }}</div>
                                {% endif %}

                                <div class="details">
                                    <div>{{ piece.content|safe }}</div>
                                </div>

                            {% elif piece.kind == 'IMAGE' %}
                                <img src="{{ piece.image }}" class="img-responsive" alt="">

                                <div class="details">
                                    <div class="desc">
                                        {{ piece.desc }}
                                    </div>
                                </div>
                            {% endif %}

                            <div class="other">
                                <span class="time">{{ piece.created_at|timesince }}</span>

                                <span class="commands">
                                    <a class="btn-edit" href="{{ url_for('piece.edit', uid=piece.id) }}">
                                        编辑</a>
                                </span>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class="col-sm-4">
                <div class="commands">
                    {% if not g.user or g.user.id != channel.user_id %}
                        {{ follow_channel_wap(channel) }}
                    {% endif %}

                    {% if g.user and g.user.id == channel.user_id %}
                        <a href="{{ url_for('channel.edit', uid=channel.id) }}"
                           class="btn btn-default btn-sm btn-edit-channel">
                            <span class="fa fa-gear"></span>
                        </a>

                        <div class="dropdown dropdown-add-piece">
                            <button id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false" class="btn btn-default btn-sm">
                                <span class="fa fa-pencil"></span>
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="{{ url_for('piece.add_text', channel_id=channel.id) }}">
                                        <span class="fa fa-font"></span> 文字
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ url_for('piece.add_image', channel_id=channel.id) }}">
                                        <span class="fa fa-camera"></span> 图片
                                    </a>
                                </li>
                            </ul>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
