{% extends "layout.html" %}

{% block page_title %}我的频道{% endblock %}
{% block page_js %}
    <script src="/static/js/user/channels.js"></script>{% endblock %}
{% block page_css %}
    <link rel="stylesheet" href="/static/css/user/channels.css"/>{% endblock %}
{% block page_content %}
    <div class="container">
        <h3 class="no-margin-top">我的频道</h3>

        <div class="channels clearfix">
            {% for channel in channels %}
                <div class="channel" data-href="{{ url_for('channel.view', uid=channel.id) }}">
                    {#                    <a href="{{ url_for('channel.view', uid=channel.id) }}">#}
                    {#                        <img src="{{ channel.cover_url }}" class="img-rounded" alt="">#}
                    {#                    </a>#}
                    <a class="name" href="{{ url_for('channel.view', uid=channel.id) }}">{{ channel.name }}</a>

                    <div class="meta">
                        <span class="pieces-count">{{ channel.pieces.count() }} 条目</span>

                        {% set followers_count = channel.followers.count() %}
                        {% if followers_count %}
                            <span class="followers-count">{{ followers_count }} 关注</span>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}

            <a class="add-channel-wap" href="{{ url_for('channel.add') }}">
                <span class="fa fa-plus"></span>
            </a>
        </div>
    </div>
{% endblock %}
