@import "../utils";

#main-wap {
  .header {
    text-align: center;
    padding-bottom: 40px;
    border-bottom: 1px solid @border-color;

    h3 {
      margin-bottom: 20px;
    }

    .creator {
      font-size: 16px;

      img {
        width: 20px;
        height: 20px;
        margin-left: 5px;
      }

      .name {
        margin-left: 5px;
      }
    }

    .dc-follow-channel-wap {
      margin-top: 25px;
    }
  }
}
