{% extends "layout.html" %}

{% block page_title %}Mm{% endblock %}
{% block page_js %}
    <script src="/static/js/site/index.js"></script>{% endblock %}
{% block page_css %}
    <link rel="stylesheet" href="/static/css/site/index.css"/>{% endblock %}
{% block page_content %}
    <div class="container">
        {#        <div class="new-piece-kind-selector media">#}
        {#            <div class="item text">#}
        {#                <span class="fa fa-font"></span>#}
        {#            </div>#}
        {#            <div class="item photo">#}
        {#                <span class="fa fa-font"></span>#}
        {#            </div>#}
        {#        </div>#}
    </div>
{% endblock %}
