{% extends "layout.html" %}

{% block page_title %}面面{% endblock %}
{% block page_js %}
    <script src="/static/js/site/index.js"></script>{% endblock %}
{% block page_css %}
    <link rel="stylesheet" href="/static/css/site/index.css"/>{% endblock %}
{% block page_content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-8">

            </div>

            <div class="col-sm-4">
                <ul class="list-group list-group-shortcuts">
                    <a class="list-group-item" href="{{ url_for('user.channels') }}">
                        我的频道
                        <span class="count">{{ g.user.channels.count() }}</span>
                    </a>
                    <a class="list-group-item" href="#">
                        我关注的频道
                        <span class="count">{{ g.user.followed_channels.count() }}</span>
                    </a>
                    {#                    <a class="list-group-item" href="#">#}
                    {#                        我的草稿#}
                    {#                    </a>#}
                </ul>
            </div>
        </div>

    </div>
{% endblock %}
