{% from "macros/_form.html" import vertical_field, field_errors %}


{# 关注频道 #}
{% macro follow_channel_wap(channel, small=False) %}
    <a href="javascript: void(0)"
       class="btn btn-default {% if small %}btn-xs small{% else %}btn-sm{% endif %} mm-follow-channel-wap"
       data-id="{{ channel.id }}">
        <span class="for-follow">关注</span>
        <span class="divider">|</span>
        <span class="followers-count">{{ channel.followers.count() }}</span>
    </a>
{% endmacro %}


{# 添加 & 编辑频道form #}
{% macro channel_form(form, channel=None) %}
    <form action="" method="post" class="mm-channel-form">
        {{ form.csrf_token() }}

        {{ vertical_field(form.name) }}

        {#        <div class="form-group clearfix">#}
        {#            <label for="desc">图标</label>#}
        {##}
        {#            <img src="{{ channel.cover_url or "" if channel else "" }}" alt="">#}
        {#            <input type="file">#}
        {##}
        {#            <div>#}
        {#                <button type="button" class="btn-upload-cover btn btn-default btn-xs">上传图片</button>#}
        {#            </div>#}
        {##}
        {#            {{ form.cover() }}#}
        {#            {{ field_errors(form.cover) }}#}
        {#        </div>#}

        {#        {{ vertical_field(form.tags) }}#}

        <button type="submit" class="btn btn-primary">保存</button>
    </form>

    <script>
        (function () {
            var $form = $('.mm-channel-form');

            $form.find('#name').focus();

            // 上传频道图标
            var uploader = simple.uploader({
                url: urlFor('channel.upload_cover'),
                fileKey: 'file',
                connectionCount: 1,
                'params': {
                    token: g.csrfToken
                }
            });

            $form.on('click', '.btn-upload-cover', function () {
                $form.find("input[type='file']").click();
            });

            $form.on('change', "input[type='file']", function () {
                uploader.upload(this.files);
            });

            uploader.on('uploadsuccess', function (e, file, response) {
                if (response.result) {
                    $form.find('img').attr('src', response.url);
                    $form.find("#cover").val(response.path);
                }
            });
        })();
    </script>
{% endmacro %}


{# 频道 #}
{% macro render_channels(channels) %}
    {% for channel in channels %}
        <div class="mm-channel media" data-href="{{ url_for('channel.view', uid=channel.id) }}">
            <div class="media-left">
                <a href="{{ url_for('user.profile', uid=channel.user_id) }}">
                    <img src="{{ channel.user.avatar_url }}" alt="" class="img-circle channel-creator-avatar">
                </a>
            </div>

            <div class="media-body">
                <a class="name" href="{{ url_for('channel.view', uid=channel.id) }}">{{ channel.name }}</a>

                <div class="meta">
                    <span class="pieces-count">{{ channel.pieces.count() }} 条目</span>

                    {% if not g.user or g.user.id != channel.user_id %}
                        {{ follow_channel_wap(channel, small=True) }}
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}

    <script>
        (function () {
            // 跳转到channel
            $(document).on('click', '.mm-channel', function (e) {
                var href = $(this).data('href');

                if (e.target.tagName !== 'A' && $(e.target).parents('a').length === 0) {
                    window.location = href;
                }
            });
        })();
    </script>
{% endmacro %}
