#main-wap .header {
  border-bottom: 1px solid #e4e4e4;
  padding-bottom: 30px;
  margin-bottom: 40px;
}
#main-wap .header img {
  width: 100px;
  height: 100px;
  display: inline-block;
  margin-bottom: 15px;
}
#main-wap .header .name {
  font-size: 26px;
}
#main-wap .channels-wap {
  width: 755px;
  margin: 0 auto;
}
#main-wap .channels-wap .channel {
  margin: 0 35px 35px 0;
  float: left;
  border: 1px solid #e4e4e4;
  width: 360px;
  height: 105px;
  padding: 18px 20px 0 20px;
  cursor: pointer;
}
#main-wap .channels-wap .channel img {
  width: 160px;
  height: 160px;
  display: block;
  margin-bottom: 10px;
  border-radius: 4px;
}
#main-wap .channels-wap .channel .name {
  display: block;
  color: #333;
  font-size: 20px;
  text-decoration: none;
  margin-bottom: 15px;
}
#main-wap .channels-wap .channel .name:hover {
  color: #18bc9c;
}
#main-wap .channels-wap .channel .meta {
  color: #999;
}
#main-wap .channels-wap .channel .meta .pieces-count {
  margin-right: 20px;
}
#main-wap .channels-wap .channel:hover {
  background-color: #f8f8f8;
}
#main-wap .channels-wap .channel:nth-child(even) {
  margin-right: 0;
}
