{% extends "layout.html" %}

{% block page_title %}「{{ piece.channel.name }}」的条目{% endblock %}
{% block page_js %}
    <script src="/static/js/piece/view.js"></script>{% endblock %}
{% block page_css %}
    <link rel="stylesheet" href="/static/css/piece/view.css"/>{% endblock %}
{% block page_content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <div class="piece piece-{{ piece.kind|lower }}">
                    {% if piece.kind == 'TEXT' %}
                        {% if piece.title %}
                            <div class="title">{{ piece.title }}</div>
                        {% endif %}

                        <div class="details">
                            <div>{{ piece.content|safe }}</div>
                        </div>

                    {% elif piece.kind == 'IMAGE' %}
                        <img src="{{ piece.image }}" class="img-responsive" alt="">

                        <div class="details">
                            <div class="desc">
                                {{ piece.desc }}
                            </div>
                        </div>
                    {% endif %}

                    <div class="other">
                        <a class="channel" href="{{ url_for('channel.view', uid=piece.channel_id) }}">
                            {{ piece.channel.name }}</a>

                        <span class="time">{{ piece.created_at|timesince }}</span>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                {% if g.user and g.user.id == piece.user_id %}
                    <div class="commands pull-right">
                        <a class="btn-edit btn btn-default btn-sm"
                           href="{{ url_for('piece.edit', uid=piece.id) }}">编辑</a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
