{% extends "layout.html" %}
{% from 'macros/_form.html' import vertical_field %}

{% block page_title %}注册{% endblock %}
{% block page_js %}
    <script src="/static/js/account/signup.js"></script>{% endblock %}
{% block page_css %}
    <link rel="stylesheet" href="/static/css/account/signup.css"/>{% endblock %}
{% block page_content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <h3>注册</h3>

                <form method="post" autocomplete="off"
                      action="{{ url_for('account.signup') }}">
                    {{ form.csrf_token() }}

                    {{ vertical_field(form.name) }}

                    {{ vertical_field(form.email) }}

                    {{ vertical_field(form.password) }}

                    <button type="submit" class="btn btn-primary">注册</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

