.mm-follow-channel-wap .divider {
  color: #ddd;
  margin: 0 5px;
}
.mm-follow-channel-wap.small .divider {
  margin: 0 2px;
}
.mm-channel-form input[type='file'] {
  display: none;
}
.mm-channel-form img {
  max-width: 160px;
  display: block;
  border-radius: 4px;
  margin-bottom: 10px;
}
.mm-channel {
  margin: 0 35px 35px 0;
  float: left;
  border: 1px solid #e4e4e4;
  width: 440px;
  height: 105px;
  padding: 18px 20px 0 20px;
  cursor: pointer;
}
.mm-channel:nth-child(odd) {
  margin-right: 0;
}
.mm-channel .media-left {
  padding-right: 20px;
}
.mm-channel .media-left .channel-creator-avatar {
  width: 60px;
  height: 60px;
}
.mm-channel .name {
  display: block;
  color: #333;
  font-size: 20px;
  text-decoration: none;
  margin-bottom: 15px;
}
.mm-channel .name:hover {
  color: #18bc9c;
}
.mm-channel .meta {
  color: #999;
}
.mm-channel .meta .pieces-count {
  margin-right: 20px;
}
.mm-channel .meta .mm-follow-channel-wap {
  float: right;
}
.mm-channel:hover {
  background-color: #f8f8f8;
}
