@import "../utils";

.mm-text-piece-form {
  #channel_id {
    width: auto;
  }
}

.mm-image-piece-form {
  #channel_id {
    width: auto;
  }

  input[type='file'] {
    display: none;
  }

  img {
    display: block;
    max-width: 100%;
    max-height: 400px;
    margin-bottom: 15px;
  }
}

.mm-piece {
  padding: 30px 0;
  border-bottom: 1px solid @border-color;
  position: relative;

  img {
    max-width: 100%;
  }

  &.piece-text {
    .title {
      font-size: 20px;
      margin-bottom: 25px;
    }
  }

  &.piece-image {
    img {
      margin-bottom: 15px;
    }
  }

  .other {
    color: #aaa;
    margin-top: 20px;

    .channel {
      color: #aaa;
      margin-right: 15px;

      &:hover {
        color: @main-color;
      }
    }

    .time {
      margin-right: 15px;
    }

    .commands {
      visibility: hidden;

      a {
        color: #aaa;

        &:hover {
          color: @main-color;
        }
      }
    }
  }

  &:hover .other .commands {
    visibility: visible;
  }
}
