.mm-text-piece-form #channel_id {
  width: auto;
}
.mm-image-piece-form #channel_id {
  width: auto;
}
.mm-image-piece-form input[type='file'] {
  display: none;
}
.mm-image-piece-form img {
  display: block;
  max-width: 100%;
  max-height: 400px;
  margin-bottom: 15px;
}
