.mm-text-piece-form #channel_id {
  width: auto;
}
.mm-image-piece-form #channel_id {
  width: auto;
}
.mm-image-piece-form input[type='file'] {
  display: none;
}
.mm-image-piece-form img {
  display: block;
  max-width: 100%;
  max-height: 400px;
  margin-bottom: 15px;
}
.mm-piece {
  padding: 30px 0;
  border-bottom: 1px solid #e4e4e4;
  position: relative;
}
.mm-piece.piece-text .title {
  font-size: 20px;
  margin-bottom: 25px;
}
.mm-piece.piece-image img {
  margin-bottom: 15px;
}
.mm-piece .other {
  color: #aaa;
  margin-top: 20px;
}
.mm-piece .other .time {
  margin-right: 15px;
}
.mm-piece .other .commands {
  visibility: hidden;
}
.mm-piece .other .commands a {
  color: #aaa;
}
.mm-piece .other .commands a:hover {
  color: #18bc9c;
}
.mm-piece:hover .other .commands {
  visibility: visible;
}
